@model EcommerceAspNetMvc.DB.Comments

<li class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object img-circle img-thumbnail" width="64" src="@(Model.Members.ProfileImageName.IsEmpty() ? "http://placehold.it/64x64" : "/wwwroot/"+Model.Members.ProfileImageName )">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">@Model.Members.Name <i><small style="font-size: 10px">@Model.AddedDate.ToShortDateString()</small></i></h4>
        @Model.Text
    </div>
</li>