@model EcommerceAspNetMvc.Models.HomeViewModel
@{
    ViewBag.Title = "Anasayfa";
}


<div class="row">
    @foreach (var i in Model.Products)
    {
        @Html.Partial("_ProductItem", i);
    }
</div>